@font-face {
  src: url("Comfortaa-Regular.ttf");
  font-family: "comfortaa";
}
@font-face {
  src: url("Dongle.ttf");
  font-family: "dongle";
}
@font-face {
  src: url("Epilogue.ttf");
  font-family: "epilogue";
}
@font-face {
  src: url("JosefinSans-Regular.ttf");
  font-family: "josefin";
}
@font-face {
  src: url("Jua.ttf");
  font-family: "jua";
}
@font-face {
  src: url("Kodchasan.ttf");
  font-family: "kodchasan";
}
@font-face {
  src: url("Manrope.ttf");
  font-family: "manrope";
}
@font-face {
  src: url("Mitr.ttf");
  font-family: "mitr";
}
@font-face {
  src: url("Montserrat-Regular.ttf");
  font-family: "montserrat";
}
@font-face {
  src: url("OpenSans-Regular.ttf");
  font-family: "OpenSans";
}
@font-face {
  src: url("Outfit.ttf");
  font-family: "Outfit";
}
@font-face {
  src: url("Prompt.ttf");
  font-family: "prompt";
}
@font-face {
  src: url("PoiretOne-Regular.ttf");
  font-family: "poiretOne";
}
@font-face {
  src: url("Poppins-Medium.ttf");
  font-family: "poppins";
}
@font-face {
  src: url("Quicksand_Book.otf");
  font-family: "quicksand";
}
@font-face {
  src: url("Raleway-Regular.ttf");
  font-family: "raleway";
}
@font-face {
  src: url("Sacramental-Regular.ttf");
  font-family: "sacramental";
}
@font-face {
  src: url("Sora.ttf");
  font-family: "sora";
}
@font-face {
  src: url("Ubuntu-R.ttf");
  font-family: "ubuntu";
}
